html {
  width: 100%;
  height: 100%;
}
header {
  height: 5rem;
  background-color: $primary-1;
  color: $dark-1;
  padding: 0 0.5rem 0.5rem 0;
  h1 {
    margin: $paddingTopBottom-1;
  }
  ul {
    @include flex-row();
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    li {
    }
  }
}

ul,
ol {
  list-style-type: none;
  font-family: $font-secondary;
}

li {
}

a {
  color: $light-1;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding: $paddingTopBottom-1;
  font-family: $font-primary;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
p {
  padding: 0.8rem 1rem 0rem 1rem;
  font-family: $font-secondary;
  text-align: justify;
  word-spacing: 1.2px;
  text-indent: 2rem;
}
table {
  padding: 0.5rem;
  margin: 0.5rem;
  th {
    font-weight: bolder;
  }
  font-family: $font-secondary;
}
form {
  @include radius();
  padding: 1rem;
  margin-bottom: 1rem;

  background-color: $light-1;
}
input {
  margin: 1rem;
}
span {
  padding: $paddingLeftRight-1;
}
footer {
  background-color: $primary-1;
}
